@font-face {
  font-family: 'FFF Tusj Bold';
  src: url('../fonts/FFF_Tusj.ttf');
}

html {
  background-color: #83ed79;
  color: #f4f4f4;
  font-family: FFF-Tusj-Bold;
  cursor: default;
}

h1 { font-size: 80px; margin: 0; color: #152913;}

h3 { font-size: 35px; color: #152913; }

p { font-size: 20px; margin: 0; transform: translateY(50%); color: #152913 }

a {font-size: 20px; color: #042c69}

#myCanvas {
  cursor: default;
  background-image: url('../imgs/8.png');
}

.button {
  position: absolute;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 2px solid black;
}

.button:hover {
  background-color: #FF5C5C;
}
